

/******************************************
*       VALORES POR DEFECTO
*******************************************/

* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*
*       Por defecto eliminamos marxes
*/
html, body, header, footer, .nospaces {
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 { color: var(--color-alternative); }

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.6rem; }
h5 { font-size: 1.4rem; }
h6 { font-size: 1.2rem; }

a {
    color: var(--color-accent);
    text-decoration: none;
}

/*
*       Clases xenéricas
*/

.container {
    position: relative;
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 1em;
}

.container-wide { 
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0 1em;
}

.flex-spacer {
    flex: 1 1 auto;
}

.dark {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.nolist { 
    list-style: none; 
    margin: 0;
    padding: 0;
}



/**********************************************
*       BACKGROUNDS
***********************************************/

.slogan {
    position: absolute;
    font-size: 3em;
    text-align: center;
    color: var(--color-accent);
    text-shadow: #222222 1px 1px 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: 100;
}

.bg-container {
    position: relative;
    min-height: 300px;
    overflow: hidden;
}

/*  En caso de varios BG ordeámolos */
.bg-1 { z-index: -10; }
.bg-2 { z-index: -20; }
.bg-3 { z-index: -30; }


/*  Centramos a imaxen que irá como BG */
.bg-container img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    vertical-align: middle;

}



/**********************************************
*       ENUNCIADO
***********************************************/

ul.obxectivos ul {
    margin-top: 0.5em;
}