
/**********************************************
* Menú de navegación
***********************************************/

nav { 
    margin: 0; 
    padding: 0.5em 1em; 
}
.nav-logo {
    max-width: 200px;
}
.nav-logo img { 
    width: 100%; 
    object-fit: contain;
}
.main-menu, .vertical-menu { padding: 0; }
.menu-item {
    padding: 0.3em 0.8em;
    list-style: none;
    cursor: pointer;
}

