
/******************************************
*       VARIABLES CORES
*******************************************/

:root {
    --color-primary: #888888;
    --color-accent: #888888;
    --color-alternative: #888888;

    --color-light: #AAAAAA;
    --color-dark: #444444;

    --color-white: #FFF;
    --color-black: #000;
}

/******************************************
*       MENU
*******************************************/
#logo
{
    width: 25%;
}

.main-menu
{
    display: inline;
    
}

.menu-item
{
    display: inline;
}

@media (max-width: 700px) {
    .main-menu {
      display: flex;
      flex-direction: column;
      align-items: center;

    }

  }

.menu-item
{
    transition: color 0.5s;
}

.menu-item:hover
{
    color: blue;
}

/******************************************
*       GRID GALLERY
*******************************************/

@media (min-width: 900px) {
    .grid-gallery {
        display: grid;
        grid-template-areas: 'li li li li li';
    }
    
}

@media (min-width: 700px) and (max-width: 900px) {
    .grid-gallery {
        display: grid;
        grid-template-areas: 'li li li li';
    }
    
}
@media (min-width: 500px) and (max-width: 700px) {
    .grid-gallery {
        display: grid;
        grid-template-areas: 'li li li';
    }
   
}
@media (max-width: 500px){
    .grid-gallery {
        display: grid;
        grid-template-areas: 'li';
    }
    
}




/******************************************
*       REPRODUCTOR DE VIDEO
*******************************************/

/*              Iconos alternativos: 
    Cando usamos iconos alternativos definimos dúas clases
    - "icon-main" para o principal 
    - "icon-alt" para o hover
*/
.icon-main, .icon-alt { 
    position: absolute;
} /* Usamos posición absoluta para superpoñelos */
.video-control:hover .icon-main, .icon-alt
{ 
    opacity: 0;
}

.icon-main, .video-control:hover .icon-alt
{
    opacity: 1;
}

.video-control
{
    transition: color 0.5s ease;
}

.video-control:hover
{
    color : blue;
}

/******************************************
*       IMAXE ZOOM
*******************************************/

#img2
{
    width: 100%;
    animation: zoom;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
}

@keyframes zoom
{
    0%
    {
        width: 100%;
    }

    100%
    {
        width: 110%;
    }
}

/******************************************
*       FOOTER
*******************************************/
